.none{
	display:none;
}
.areaInLink {
    box-shadow: 0px 0px 3px 5px #0000003b;
    border-radius: 10px;
    margin-bottom: 15px;
}
.titleGen {
    background: #f2c14c;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
    font-style: italic;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 6px 1px #f2c14c;
}
.maskoding {
    text-align: center;
    margin: 5px 0;
}
#inLink, #outLink {
    box-shadow: 0 0 0px #FFEB3B;
    padding-left: 5px;
    font-size: 15px;
    height: 30px;
    width: 95%;
    border-radius: 10px;
    border: 2px solid #8a722b;
}
#inLink:focus {
  border-color: green;
}
input {
  outline: none;
}
.titleSet {
    font-weight: bold;
    font-size: 18px;
    position: relative;
}
.areaSetting {
    padding: 5px 0px 5px 5px;
    background: #f2a34a;
    text-align: left;
    margin: 5px 0;
    color: white;
    box-shadow: 0 0 3px #f2c24c;
}
#inPath, #inPass {
    margin-top: 5px;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #a78f4d;
    height: 22px;
}
.areaShowPathLink {
    font-size: 12px;
    width: max-content;
    background-color: #9a939385;
    padding: 1px 10px;
    border-radius: 10px;
    margin-top: 3px;
    display: initial;
}
#addPath {
    color: black;
    font-weight: bold;
    font-size: 13px;
}
#notifProcces {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}


/*--------------- Style Togle Swicth------------------*/
.switch {
    right: 0;
    position: absolute;
    margin-right: 5px;
    display: inline-block;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 40px;
  height: 15px;
  background-color: #dddddd;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: &quot;&quot;;
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 18px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 23px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*------------ style button input generate ------------*/
.areaSetLink {
    text-align: center;
    position: relative;
}
.buttonInLink {
    position: absolute;
    right: 1.5%;
    margin-top: -34px;
}
#genLink {
    height: 34px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    width: max-content;
    cursor: pointer;
    font-weight: 600;
    background-color: #f2c84c;
    box-shadow: 0 0 4px 0px transparent;
    padding: 0 10px;
}

/*------------ style button copy generate ------------*/
#areaOutLink {
    text-align: center;
    position: relative;
    margin: 10px 0;
}
.buttonOutLink {
    position: absolute;
    right: 1.5%;
    margin-top: -34px;
}
#copyLink {
    height: 34px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    width: max-content;
    cursor: pointer;
    font-weight: 600;
    background-color: #f2c84c;
    box-shadow: 0 0 4px 0px transparent;
    padding: 0 10px;
}

/*--- style powered safelink---------------*/
.powered {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 100;
    background-color: #f2c14c;
    padding: 5px;
    margin-top: 11px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*------------ Button Home ----------------*/
#areaLoadingButHome{
    width: max-content;
    margin: auto;
}
#butGetLink {
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    background-color: #ffc477;
    border-radius: 8px;
    border: 1px solid #eeb44f;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #cc9f52;
    margin-bottom: 16px;
	outline: none;
}
#butGetLink:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
#butGetLink:active {
	position:relative;
	top:1px;
}
.iconButHome{
	width: 54px;
    text-align: center;
    margin: auto;
}
.erorLink {
    color: red;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;
    display: block;
}

/*----------- style panel password ------*/
.PanelPasswordLink {
    box-shadow: 0 0 6px 1px #00000087;
    border-radius: 5px;
    padding-bottom: 5px;
}
.titlePass {
    background-color: #f2c14b;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 2px #f2bf4c;
}
#inPassProted {
    padding-left: 10px;
    height: 24px;
    outline: none;
    border-radius: 15px;
    border: 2px solid #75747294;
    box-shadow: 0 0 2px 0px #424240;
    margin: 5px 10px;
    width: 250px;
    font-size: 15px;
}
#areaNextButton {
    text-align: center;
    margin: 10px 0;
}
#nextButton {
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    background-color: #ffc477;
    border-radius: 6px;
    border: 1px solid #eeb44f;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 18px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #cc9f52;
	outline: none;
}
#nextButton:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
#nextButton:active {
	position:relative;
	top:1px;
}

/*------- style panel capctha ------------*/
#areaCaptchaButton {
    text-align: center;
    margin-top: 5px;
}
#html_element {
    display: inline-block;
    margin-top: 10px;
}
#statusNotifku {
    text-align: center;
    margin: 10px 0;
    color: red;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
}
.iconLoading {
    width: 60px;
    margin: 0 auto !important;
}

/*---------- style end button -------*/
.areaEndKuCopy {
    text-align: center;
    margin: 5px 0;
    padding: 5px;
    box-shadow: 0 0 5px 0px #948e80;
    border-radius: 10px;
    background-color: #ded9cda1;
	position: relative;
}
.areaEndKuClick {
    text-align: center;
    margin: 5px 0;
	position: relative;
}
#buttonLinkku {
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    background-color: #ffc477;
    border-radius: 6px;
    border: 1px solid #eeb44f;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 18px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #cc9f52;
    outline: none;
}
#outputLinkku {
    width: 96%;
    font-size: 17px;
    padding-left: 5px;
    background-color: #ecdddd;
    color: black;
    font-weight: 500;
    height: 34px;
    border-radius: 5px;
}
#buttonCopyEndLink {
    width: 100px;
    margin-right: 7px;
    padding: 5px;
    height: 38px;
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffc477;
    border: 1px solid #eeb44f;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #cc9f52;
    outline: none;
    position: absolute;
    right: 0;
}

/*------------- style notif non-active ---------------*/
.areaNotifInvalid {
    text-align: center;
    background-color: #ffe2e2;
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 5px #695959;
    margin-bottom: 20px !important;
}
.titleInvalid {
    padding: 5px;
    background-color: #5bec99;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
    color: black;
}
.areaContact {
    padding: 15px 0;
    text-align: left;
    margin-left: 15px;
}
